*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: sans-serif;
}

.container {
  max-width: 48em;
  margin-right: auto;
  margin-left: auto;
}

.c-tab {}

.c-tablist {}

.c-tabpanel {}
