*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  line-height: 1.5;
  font-family: sans-serif;
}

main {
  max-width: 48em;
  margin-right: auto;
  margin-left: auto;
}

/**/

.container {
  margin-bottom: 2em;
}

.tablist[role='tablist'] {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab[role='tab'] {
  display: block;
  margin-bottom: -0.125em;
  padding: 1em 2em;
  border: 0.125em solid transparent;
  border-bottom: 0;
  text-decoration: none;
  color: inherit;
}

.tab[aria-selected='true'] {
  border-color: black;
  background-color: white;
}

.tabpanel[role='tabpanel'] {
  padding: 1em;
  border: 0.125em solid;
  background-color: white;
}
